body{
  background-color: black;
}

#mastHead{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -100px;
  position: relative;
  width: 1170px;
  height: 950px;
  background-image: url('https://s3.amazonaws.com/myfangate.com/punkgoespop6/stage.jpg');
  z-index: 98;
  .video-container{
    position:absolute;
    top: 370px;
    left: 355px;
    margin: 0;
  }
}


// .tracklistbtn, .itunesbtn{
//   background-color: rgba(0,255,0,0.3);
//   border: solid 1px #fff;
// }

.tracklistbtn, .itunesbtn{
  background-color: transparent;
  border: solid 1px transparent;
}


.tracklistbtn{
  cursor: pointer;
  position: relative;
}

.itunesbtn{
  cursor: pointer;
  width: 100px;
  height: 50px;
  position: relative;
  top: -520px;
  left: 929px; 
}

/* BUTTONS */

.tyler{
  top: 322px;
  left: 50px;
  width: 200px;
  height: 50px;
}
.abr{
  top: 322px;
  left: 50px;
  width: 200px;
  height: 50px;
}
.wecar{
  top: 322px;
  left: 50px;
  width: 200px;
  height: 50px;
}
.uabb{
  top: 322px;
  left: 56px;
  width: 200px;
  height: 55px;
}
.sio{
  top: 318px;
  left: 56px;
  width: 200px;
  height: 50px;
}
.crown{
  top: 318px;
  left: 56px;
  width: 200px;
  height: 50px;
}
.oaa {
  left: 900px;
  width: 200px;
  height: 50px;
}
.yir {
  left: 900px;
  width: 200px;
  height: 45px;
}
.volumes {
  left: 900px;
  width: 200px;
  height: 45px;
}
.kp {
  left: 900px;
  width: 200px;
  height: 45px;
}
.slaves {
  top: -1px;
  left: 900px;
  width: 200px;
  height: 46px;
}
.sc {
  left: 900px;
  width: 200px;
  height: 50px;
}
.pali {
  left: 900px;
  width: 200px;
  height: 50px;
}



.center{
  text-align: center;
  position: relative;
  z-index: 99;
}
