body{
  background-color: black;
}

#mastHead{
  margin: 0 auto;
  position: relative;
  width: 1170px;
  height: 950px;
  background-image: url('https://s3.amazonaws.com/myfangate.com/punkgoespop6/stage.jpg');
  .video-container{
    position:absolute;
    top: 370px;
    left: 355px;
    margin: 0;
  }
}

.tracklistbtn{
  cursor: pointer;
  width: 200px;
  height: 50px;
  position: relative;
}

.itunesbtn{
  cursor: pointer;
  width: 100px;
  height: 50px;
  position: relative;
  top: -505px;
  left: 929px; 
}

/* BUTTONS */

.tyler{
  top: 338px;
  left: 50px;
}
.abr{
  top: 338px;
  left: 50px;
}
.wecar{
  top: 330px;
  left: 50px;
}
.uabb{
  top: 325px;
  left: 56px;
}
.sio{
  top: 318px;
  left: 56px;
}
.crown{
  top: 318px;
  left: 56px;
}
.oaa {
  top: 20px;
  left: 900px;
}
.yir {
  top: 17px;
  left: 900px;
}
.volumes {
  top: 10px;
  left: 900px;
}
.kp {
  top: 5px;
  left: 900px;
}
.slaves {
  top: -1px;
  left: 900px;
}
.sc {
  top: -8px;
  left: 900px;
}
.pali {
  top: -8px;
  left: 900px;
}



.center{
  text-align: center;
}
