<div class="tracklistbtn tyler" onClick="_gaq.push(['_trackEvent', 'Banner_List', 'Click', 'Tyler_Carter']);"></div>
<div class="tracklistbtn abr" onClick="_gaq.push(['_trackEvent', 'Banner_List', 'Click', 'August_Burns_Red']);"></div>
<div class="tracklistbtn wecar" onClick="_gaq.push(['_trackEvent', 'Banner_List', 'Click', 'WECAR']);"></div>
<div class="tracklistbtn uabb" onClick="_gaq.push(['_trackEvent', 'Banner_List', 'Click', 'UABB']);"></div>
<div class="tracklistbtn sio" onClick="_gaq.push(['_trackEvent', 'Banner_List', 'Click', 'Set_It_Off']);"></div>
<div class="tracklistbtn crown" onClick="_gaq.push(['_trackEvent', 'Banner_List', 'Click', 'CTE']);"></div>
<div class="tracklistbtn oaa" onClick="_gaq.push(['_trackEvent', 'Banner_List', 'Click', 'OAA']);"></div>
<div class="tracklistbtn yir" onClick="_gaq.push(['_trackEvent', 'Banner_List', 'Click', 'Youth_In_Revolt']);"></div>
<div class="tracklistbtn volumes" onClick="_gaq.push(['_trackEvent', 'Banner_List', 'Click', 'Volumes']);"></div>
<div class="tracklistbtn kp" onClick="_gaq.push(['_trackEvent', 'Banner_List', 'Click', 'Knuckle_Puck']);"></div>
<div class="tracklistbtn slaves" onClick="_gaq.push(['_trackEvent', 'Banner_List', 'Click', 'Slaves']);"></div>
<div class="tracklistbtn sc" onClick="_gaq.push(['_trackEvent', 'Banner_List', 'Click', 'State_Champs']);"></div>
<div class="tracklistbtn pali" onClick="_gaq.push(['_trackEvent', 'Banner_List', 'Click', 'Palisades']);"></div>
