<div class="tracklistbtn tyler" onClick="ga('send', 'event', 'Banner_List', 'Click', 'Tyler_Carter');"></div>
<div class="tracklistbtn abr" onClick="ga('send', 'event', 'Banner_List', 'Click', 'August_Burns_Red');"></div>
<div class="tracklistbtn wecar" onClick="ga('send', 'event', 'Banner_List', 'Click', 'WECAR');"></div>
<div class="tracklistbtn uabb" onClick="ga('send', 'event', 'Banner_List', 'Click', 'UABB');"></div>
<div class="tracklistbtn sio" onClick="ga('send', 'event', 'Banner_List', 'Click', 'Set_It_Off');"></div>
<div class="tracklistbtn crown" onClick="ga('send', 'event', 'Banner_List', 'Click', 'CTE');"></div>
<div class="tracklistbtn oaa" onClick="ga('send', 'event', 'Banner_List', 'Click', 'OAA');"></div>
<div class="tracklistbtn yir" onClick="ga('send', 'event', 'Banner_List', 'Click', 'Youth_In_Revolt');"></div>
<div class="tracklistbtn volumes" onClick="ga('send', 'event', 'Banner_List', 'Click', 'Volumes');"></div>
<div class="tracklistbtn kp" onClick="ga('send', 'event', 'Banner_List', 'Click', 'Knuckle_Puck');"></div>
<div class="tracklistbtn slaves" onClick="ga('send', 'event', 'Banner_List', 'Click', 'Slaves');"></div>
<div class="tracklistbtn sc" onClick="ga('send', 'event', 'Banner_List', 'Click', 'State_Champs');"></div>
<div class="tracklistbtn pali" onClick="ga('send', 'event', 'Banner_List', 'Click', 'Palisades');"></div>
