<footer>
  <a href="https://www.facebook.com/punkgoes" target="_blank"><i class="fa fa-facebook-square"></i></a>
  <a href="https://twitter.com/punk_goes" target="_blank"><i class="fa fa-twitter-square"></i></a>
  <a href="http://instagram.com/punk_goes" target="_blank"><i class="fa fa-instagram"></i></a>
</footer>
