---
title: Punk Goes Pop 6
---


<div id="mastHead">
  <div id="video-player">
    <iframe class="video-container" width="460" height="259" src="//www.youtube.com/embed/tQh7OjYIGWA" frameborder="0" allowfullscreen onClick="_gaq.push(['_trackEvent', 'Center_Video', 'Play_Button', 'Clicked']);"></iframe>
  </div>
  <%= partial "buttons" %>
  <a href="http://smarturl.it/pgp6" target="_blank"><div class="itunesbtn"></div></a>
</div>
