---
title: Punk Goes Pop 6
---


<div id="mastHead">
  <div id="video-player">
    <iframe class="video-container" width="460" height="259" src="//www.youtube.com/embed/IXB6hgMDRZc" frameborder="0" allowfullscreen onClick="ga('send', 'event', 'CenterVid', 'Click', 'Play');"></iframe>
  </div>
  <%= partial "buttons" %>
  <a href="http://smarturl.it/pgp6" target="_blank" onClick="ga('send', 'event', 'Banner', 'Click', 'iTunes_Link');"><div class="itunesbtn"></div></a>
</div>
